 
<section class="main-section">
    <p class="main-heading">
        BUY, SELL, AND RENT
    </p>
    <p class="sub-heading">
        Are you looking for a property or you want to sell your property ? We are there !
    </p>

    <div class="button-div">
        <LinkTo @route="list"><button class="button" type="button">See Properties</button></LinkTo>
    </div>
    
    <div class="bg-img-div">
        <div class="slnt-img">
            <img src="/assets/images/home_img.jpg" alt="img1">
        </div>
        <div class="slnt-img">
            <img src="/assets/images/home2.jpg" alt="img1">
        </div>
        <div class="slnt-img">
            <img src="/assets/images/home3.jpg" alt="img1">
        </div>
    </div>    

  
         
</section>
  

  
