
  
  <div class="main-container">

  <div class="filter-div">
    <p class="page-heading">Filters</p>
  </div>


  <div class="list-main-container">
    <div class="search-div">
      <form class="search-box">
        <input type="text" class="search-bar" placeholder="Search For Buy, Rent or Pg here">
        <a href="#"><em class="fa-solid fa-magnifying-glass search-icon"></em></a>
      </form>
    </div>

    <div class="listing-container">
      <div class="list-div">
        <div class="prop-img-div">
          <img src="/assets/images/home3.jpg" class="prop-img" alt="property_img">
        </div>
        <div class="prop-details">
          <table class="prop-table">
            <tr>
              <td>
                <em class="fa-solid fa-indian-rupee-sign"><span><p class="table-heading"> Rent</p></span></em>
              </td>
              <td>
                <p class="table-sub-heading">
                  ₹ 9000
                </p>
              </td>

              <td>
                <em class="fa-solid fa-door-open"><span><p class="table-heading"> Room</p></span></em>
              </td>
              <td>
                <p class="table-sub-heading">
                  2 BHK
                </p>
              </td>
            </tr>

             <tr>
              <td>
                <em class="fa-solid fa-house"><span><p class="table-heading"> Sq.ft</p></span></em>
              </td>
              <td>
                <p class="table-sub-heading">
                1213 sq.ft
                </p>
              </td>

              <td>
                <em class="fa-solid fa-syringe"><span><p class="table-heading"> Hospital</p></span></em>
              </td>
              <td>
                <p class="table-sub-heading">
                  2.3 Km
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>